# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environnements virtuels
.venv/
env/
venv/
.env

# Distribution / Build
dist/
build/
*.egg-info/

# JAX / Matplotlib (fichiers temporaires de cache)
.jax_cache/